<!--<p>Brands works!</p>-->

<div class="page-content">
<!--  <div class="d-flex mb-2">-->
<!--    <h3>Brands</h3>-->
<!--    <div class="ms-auto"><a data-bs-toggle="modal" data-bs-target="#saveOrUpdateModal" (click)="onSelect(null, 'create')"-->
<!--                            class="btn btn-primary radius-30 mt-2 mt-lg-0"><i class="bx bxs-plus-square"></i>Add New brand</a>-->
<!--    </div>-->
<!--  </div>-->
  <div class="card card-success card-outline" style="margin-top: 7px">
    <div class="card-header" style="padding-top: 5px; padding-bottom: 7px">
      <div class="card-title" style="font-size: 25px"><span>Brands</span></div>

      <div class="d-lg-flex align-items-center mb-4 gap-3" style="padding-left: 25px; padding-top: 3px; margin-bottom: 5px !important;" >

        <div class="ms-auto">
<!--          <a data-bs-toggle="modal" data-bs-target="#saveOrUpdateModal" (click)="onSelect(null, 'create')"-->
<!--             class="btn btn-primary radius-30 mt-2 mt-lg-0"><i class="bx bxs-plus-square"></i>Add New Brand</a>-->
          <a data-bs-toggle="modal" data-bs-target="#saveOrUpdateModal" (click)="onSelect(null, 'create')"
             class="btn btn-primary radius-30 mt-2 mt-lg-0"><i class="bx bx-plus" style="font-size: 20px; margin-right: 5px;"></i>Add New Brand</a>
        </div>
      </div>
      <mat-progress-bar *ngIf="queryMode" mode="indeterminate" class="mat-progress-bar"></mat-progress-bar>
    </div>


    <div class="card-body">
      <div class="table-responsive">
        <table class="table mb-0">
          <thead class="table-light">
          <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let a of brands; let i = index">
            <td>{{a.brand_id}}</td>
            <td>{{a.brand_name}}</td>
            <td>{{a.description}}</td>
            <td>
              <div class="d-flex order-actions">
                <a class="cursor-pointer" data-bs-toggle="modal" data-bs-target="#saveOrUpdateModal" style="font-size: 22px;"
                   (click)="onSelect(a, 'update')"><i class='bx bxs-edit'></i></a>
                <a class="ms-3 cursor-pointer" data-bs-toggle="modal" (click)="onSelect(a, 'delete')" style="font-size: 21px;"
                   data-bs-target="#deleteModal"><i class='bx bxs-trash'></i></a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="modal fade" id="saveOrUpdateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Brand Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-3" id="code" placeholder="Coupon Code"
                     [(ngModel)]="selected.brand_name" name="code">
              <label for="code">Brand Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-3" id="value" placeholder="Coupon Value"
                     [(ngModel)]="selected.description" name="value">
              <label for="value">Brand Description</label>
            </div>
            <!-- <div class="form-floating mb-3">
                <select class="form-select" id="type" [(ngModel)]="selected.couponType" name="type">
                    <option value="Percentage">Percentage</option>
                    <option value="Flat">Flat</option>
                </select>
                <label for="floatingSelect">Coupon Type</label>
            </div> -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button (click)="saveOrUpdate()" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save
            changes</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel2">Delete Confirmation</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure to delete this brand?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" (click)="onDelete()"
                  data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>

