<!--<p>order-sell-detail works!</p>-->

<div class="page-content">
<!--  <h3>Sell Order Details</h3>-->

  <div class="card card-success card-outline" style="margin-top: 7px">
      <div class="card-header" style="padding-top: 5px; padding-bottom: 7px">
        <div class="card-title" style="font-size: 25px"><span>Sell Order Details</span></div>
      </div>
    <div class="card-body">
      <!--    <h3>Order Details</h3>-->
      <div class="d-flex">
        <p>Order ID: <strong>#{{order? order.order_id: ''}}</strong></p>
        <p class="ms-auto">Placed on: <strong>{{order? formatDate(order.order_date, 'dd/MM/yyyy HH:mm:ss', 'en-US'):''}}</strong></p>
      </div>
      <div class="table-responsive">
        <table class="table mb-0">
          <thead class="table-light">
          <tr>
            <th>Item ID</th>
            <th>Image</th>
            <th style="max-width: 300px !important;">Product/Package Name</th>
            <th>Product/Package ID</th>
            <th>Sell Type</th>
            <th>Unit Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let d of orderDetailList; let i = index">
            <td>#{{d.order_details_id}}</td>
            <td>
              <img src="{{d.product_image_url}}" alt="" style="height:40px; max-width:50px; margin-right: 5px">
            </td>
            <td style="max-width: 300px !important;">
              <h6 *ngIf="d.sell_type == 'S'" class="mb-0 font-14">{{d.product_title}}</h6>
              <h6 *ngIf="d.sell_type == 'G'" class="mb-0 font-14">{{d.product_title}}</h6>
              <h6 *ngIf="d.sell_type == 'P'" class="mb-0 font-14">{{d.package_grp_name}} <br *ngIf="d.package_grp_name" />{{d.package_name}}</h6>
            </td>
            <td>
              <h6 *ngIf="d.sell_type == 'S'" class="mb-0 font-14">#{{d.product_id}}</h6>
              <h6 *ngIf="d.sell_type == 'G'" class="mb-0 font-14">#{{d.product_id}}</h6>
              <h6 *ngIf="d.sell_type == 'P'" class="mb-0 font-14">#{{d.package_id}}</h6>
            </td>
            <td>
              <img *ngIf="d.sell_type == 'S'" src="assets/smartgroup/img/price-tag-01.5.png" alt="" height=30px width=30px style="margin-right: 10px" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Single Product">
              <img *ngIf="d.sell_type == 'G'" src="assets/smartgroup/img/group-buy-01.png" alt="" height=30px width=30px style="margin-right: 10px" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Group Buying offers on single product">
              <img *ngIf="d.sell_type == 'P'" src="assets/smartgroup/img/groupbuy-packages-02.png" alt="" height=30px width=30px style="margin-right:10px" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Group Buying offers on sub-packages">
            </td>
            <td>{{curSymbol}}{{d.product_unit_price | number: '1.2-2'}}</td>
            <td>{{d.quantity}}</td>
            <td>{{curSymbol}}{{d.sub_total | number: '1.2-2'}}</td>
            <td>
              <div [class]="d.status=='Canceled' ? 'text-danger bg-light-danger' : d.status=='Delivered' ? 'text-success bg-light-success' : 'text-primary bg-light-primary'"
                   class="badge rounded-pill p-2 text-uppercase px-3" style="margin-left: -15px">
                <i class='bx bxs-circle me-1'></i>{{d.status}}
              </div>
            </td>
            <td>
              <select #actionStatus class="form-select" name="actions" id="actions"
                      (change)="onChangeStatus(i, actionStatus.value)" [disabled]="d.status=='Shipped' || d.status=='Delivered' || d.status=='Refunded' || d.status.indexOf('Refund')!==-1">
                <option [selected]="d.status=='Pending'" value="Pending">Pending</option>
                <option [selected]="d.status=='Canceled'" value="Canceled">Canceled</option>
                <option [selected]="d.status=='Processing'" value="Processing">Processing</option>
                <option [selected]="d.status=='Shipped'" value="Shipped">Shipped</option>
                <option *ngIf="d.status=='Delivered'" [selected]="d.status=='Delivered'" value="Delivered">Delivered</option>
                <option *ngIf="d.status=='Refunded'" [selected]="d.status=='Refunded'" value="Refunded">Refunded</option>
                <option *ngIf="d.status=='Refund Requested'" [selected]="d.status=='Refund Requested'" value="Refund Requested">Refund Requested</option>
                <option *ngIf="d.status=='Refund Declined'" [selected]="d.status=='Refund Declined'" value="Refund Declined">Refund Declined</option>
                <option *ngIf="d.status=='Refund Processing'" [selected]="d.status=='Refund Processing'" value="Refund Processing">Refund Processing</option>
              </select>

<!--              <button (click)="trackOrder(d)" type="button"
                      class="btn btn-primary btn-sm radius-30 px-2" style="width:80px; margin-right: 7px;">Track</button>
              <button *ngIf="refundEligible && d.status == 'Delivered'" (click)="setRefundDetails(d.order_details_id, d.seller_id)" data-bs-toggle="modal" data-bs-target="#refundModal" type="button"
                      class="btn btn-warning btn-sm radius-30 px-2" style="width:80px; ">Refund</button>-->
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6" style="padding-right: 0px">
      <div class="card" style="margin-top: 10px">
        <div class="card-body">
          <h5>Shipping Address</h5>
          <hr>
          <p><strong>Address:</strong> {{order? order.shipping_address: ''}}</p>
          <!--        <p><strong>City:</strong> {{order.shipping_}}</p>-->
          <p><strong>Post Code:</strong> {{order? order.shipping_post_code: ''}}</p>
          <p><strong>Country:</strong> {{order? order.shipping_country: ''}}</p>

          <!--        <p><strong>Division:</strong> {{order.shippingState}}</p>-->
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card" style="margin-top: 10px">
        <div class="card-body">
          <h5>Order Summary</h5>
          <hr>
          <table class="table table-borderless">
            <tbody>
            <tr>
              <th>Subotal</th>
              <td class="text-end">{{curSymbol}}{{order? order.sub_total.toFixed(2): ''}}</td>
            </tr>
            <tr>
              <th>Shipping Charge</th>
              <td class="text-end">{{curSymbol}}{{order? order.shipping_fee.toFixed(2): ''}}</td>
            </tr>
            <tr>
              <th>Gateway Fee</th>
              <td class="text-end">{{curSymbol}}{{order? order.gateway_fee.toFixed(2): ''}}</td>
            </tr>
            <tr>
              <th>Tax (5%)</th>
              <td class="text-end">{{curSymbol}}{{order? order.tax.toFixed(2): ''}}</td>
            </tr>
            <!--          <tr>-->
            <!--            <th>Discount</th>-->
            <!--            <td class="text-end">৳{{order.discount.toFixed(2)}}</td>-->
            <!--          </tr>-->
            <tr>
              <th>Total</th>
              <td class="text-end"><strong>{{curSymbol}}{{order? order.order_total.toFixed(2): ''}}</strong></td>
            </tr>
            </tbody>
          </table>
          <hr>
          <p>Paid by {{order? order.payment_method: ''}}</p>
        </div>
      </div>
    </div>
  </div>
  <!--

  <div class="modal fade" id="refundModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Refund Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-3" id="bank_name" placeholder="Bank Name"
                     [(ngModel)]="refundDetails.bankName" name="bank_name">
              <label for="code">Bank Name</label>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-3" id="bank_number" placeholder="Bank Number"
                     [(ngModel)]="refundDetails.bankNumber" name="value">
              <label for="bank_number">Bank Number</label>
            </div>
            <div class="form-floating mb-3">
              <select class="form-select" id="reason" [(ngModel)]="refundDetails.reason" name="reason">
                <option>Product damaged</option>
                <option>Wrong product</option>
                <option>I changed my mind</option>
              </select>
              <label for="floatingSelect">Refund reason</label>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="onRefund()"
                  data-bs-dismiss="modal">Submit</button>
        </div>
      </div>
    </div>
  </div>
  -->
</div>
