.gb-avatar-bg {
  background: url(https://www.gravatar.com/avatar/1234566?size=200&d=mm);
  background-position: 50% 50%;
  height: 100px;
  width: 100px;
  background-size: cover;
  border-radius: 50%;
  //border: none;
  //margin-left: 10px;
  //margin-left: calc(50% - 100px);
  margin-left: 29px;
  margin-bottom: 5px;
}


mat-progress-bar.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: #35b2ca;
  --mdc-linear-progress-track-color: white;
}
