
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
}

.mat-raised-button .mat-button-wrapper > * {
  vertical-align: middle;
}

/*actions .mat-raised-button:first-child {
  margin-left: 0;
  margin-right: 0;
}
.mat-raised-button:not([class*="mat-elevation-z"]) {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
}
.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button {
  margin: 0 4px;
  margin-right: 4px;
  margin-left: 4px;
}
.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  background-color: #673ab7;
}
.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
  color: #fff;
}
.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
  color: currentColor;
}*/

.mat-raised-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 30px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  background-color: #673ab7;
  color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 500;
}



/*

.mat-fab, .mat-mini-fab, .mat-raised-button {
  color: rgba(0,0,0,.87);
  background-color: #fff;
}
.mat-button, .mat-fab, .mat-flat-button, .mat-icon-button, .mat-mini-fab, .mat-raised-button, .mat-stroked-button {
  font-family: Roboto,"Helvetica Neue",sans-serif;

  font-size: 14px;
  font-weight: 500;
}
*/


section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.mr-4 {
  margin-right: 20px;
}

.mat-table-container {
  //height: 800px;
  min-height: 140px;
  max-height: 800px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

mat-table {
  width: 100%;
  overflow: auto;
  height: 100%;
}

/* mat table column width */
@mixin mat-table-columns($columns)
{
  .mat-column-
  {
    @each $colName, $props in $columns {

      $width: map-get($props, 'width');

      &#{$colName}
      {
        flex: $width;
        //min-width: $width;
        min-width: 2rem;

        @if map-has-key($props, 'color')
        {
          color: map-get($props, 'color');
        }
      }
    }
  }
}

@include mat-table-columns((

  itemNumber: (width: 2rem, color: gray),
  itemImage: (width: 6rem),
  itemName: (width: 10rem),
  itemDescription: (width: 25rem),
  itemQuantity: (width: 6rem),
  itemRegularPrice: (width: 6rem),
  itemSalePrice: (width: 6rem),
  itemStatus: (width: 6rem),
  itemAction: (width: 3rem)
));
