mat-progress-bar.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: #1ec5dc;
  --mdc-linear-progress-track-color: white;
}


.icon-card {
  display: flex;
  align-items: center;
  background: #fff;
  //padding: 20px 20px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;

  //box-shadow: 0px 12px 24px -4px rgba(145, 158, 171, 0.12), 0px 0px 2px 0px rgba(145, 158, 171, 0.2);
  //box-shadow: 0 0 1px rgba(var(--bs-body-color-rgb), 0.125), 0 1px 3px rgba(var(--bs-body-color-rgb), 0.2);
  border-radius: 7px;
}

.icon-card .icon {
  max-width: 46px;
  width: 100%;
  height: 46px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-right: 20px;
  background: rgba(54, 92, 245, 0.1);
  color: #365CF5;
  font-weight: 700;
}

.icon-card .icon.purple {
  background: rgba(155, 81, 224, 0.1);
  color: #9b51e0;
}
.icon-card .icon.success {
  background: rgba(33, 150, 83, 0.1);
  color: #219653;
}
.icon-card .icon.primary {
  background: rgba(54, 92, 245, 0.1);
  color: #365CF5;
}
.icon-card .icon.orange {
  background: rgba(242, 153, 74, 0.1);
  color: #f2994a;
}
.icon-card .icon.blue-light {
  background: rgba(73, 190, 255, 0.08);
  color: #49BEFF;
}
.icon-card .icon.opacity-100.purple {
  background: #9b51e0;
  color: #fff;
}
.icon-card .icon.opacity-100.success {
  background: #219653;
  color: #fff;
}
.icon-card .icon.opacity-100.primary {
  background: #365CF5;
  color: #fff;
}
.icon-card .icon.opacity-100.orange {
  background: #f2994a;
  color: #fff;
}
.icon-card .icon.opacity-100.deep-blue {
  background: #345d9d;
  color: #fff;
}

h6, .h6 {
  font-size: 16px;
  font-weight: 600;
}

.text-sm {
  font-size: 16px;
  line-height: 22px;
}

.text-gray {
  color: #5d657b !important;
}

#orderStatusPieChart {
  max-width: 380px;
  margin: 35px auto;
  padding: 0;
}

.user-small-box-footer {
  position: relative;
  z-index: 10;
  display: block;
  padding: 3px 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.07);
}
