.example-container {
  width: 400px;
  max-width: 100%;
  margin: 0 10px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.package-container {
  width: 400px;
  max-width: 100%;
  margin: 0 10px 25px 0;
  display: inline-block;
  vertical-align: top;
  background-color: #faf9f9;
}

.example-list {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/*

//<!-- Bootstrap CSS -->
//@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css";
//integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
@import "http://192.168.56.104:4200/assets/css/bootstrap-extended.css";

//<!-- Boxicons -->
//@import "https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css";

//<!-- Font Awesome -->
//@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

//<!-- loader-->
@import "http://192.168.56.104:4200/assets/css/pace.min.css";
//@import "https://cdn.jsdelivr.net/npm/pace-js@latest/pace.min.js";

//<!--plugins-->

@import "http://192.168.56.104:4200/assets/plugins/simplebar/css/simplebar.css";


@import "http://192.168.56.104:4200/assets/css/app.css";

//<!-- <link href="./assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" /> -->
//<!-- <link href="./assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" /> -->

//<!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet"> -->
@import "https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap";
//@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100&icon_names=desktop_landscape_add,recenter,open_with,arrows_output";

//@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=desktop_landscape_add";


*/

//.my-material-symbols-outlined {
//  font-size:35px;
//  height: 35px;
//  width: 35px;
//  font-variation-settings:
//    'FILL' 1,
//    'wght' 400,
//    'GRAD' 0,
//    'opsz' 0
//}




.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.mat-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 24px;
  width: 24px;
}

.mat-raised-button .mat-button-wrapper > * {
  vertical-align: middle;
}

.mat-raised-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 30px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  background-color: #673ab7;
  color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.mr-4 {
  margin-right: 13px;
}


