<!--<p>withdraw works!</p>-->
<div class="page-content">
<!--  <h4>Pending Withdraw Requests</h4>-->
  <div class="card card-warning card-outline" style="margin-top: 7px">
    <div class="card-header" style="padding-top: 5px; padding-bottom: 7px">
      <div class="card-title" style="font-size: 25px"><span>Withdrawal Requests</span></div>
      <mat-progress-bar *ngIf="queryMode" mode="indeterminate" class="mat-progress-bar"></mat-progress-bar>
    </div>

    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th>Pending Req.</th>
          <th>Username/Email</th>
          <th>Request Date</th>
          <th>Amount</th>
          <th style="padding-left: 100px">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of pendingWithdrawals; let i=index">
          <td>{{i+1}}</td>
          <td>{{t.username? t.username: t.email}}</td>
          <td>{{formatDate(t.request_date, 'dd/MM/yyyy HH:mm:ss', 'en-US')}}</td>
          <td>{{curSymbol}}{{t.amount | number: '1.2-2'}}</td>
          <!--<td>
            <button type="button" class="btn btn-primary btn-sm radius-30 px-4">View Details</button>
          </td>-->
          <td>
            <div class="d-flex order-actions">
<!--
              <a (click)="updateWithdraw(i, 'Paid')" class="cursor-pointer"><i
                class='bx bx-check'></i></a>
              <a (click)="updateWithdraw(i, 'Declined')" class="ms-3 cursor-pointer"><i
                class='bx bx-x'></i></a>
-->
              <img src="assets/smartgroup/img/approved-02.png" alt="" height=40px  style="margin-top: -4px; margin-bottom: -4px; margin-right: 10px" (click)="updateWithdraw(i, 'Paid')" onMouseOver="this.style.cursor='pointer'"
                   data-bs-toggle="tooltip" data-bs-placement="bottom" title="Approval this withdrawal">
              <img src="assets/smartgroup/img/rejected-02.png" alt="" height=40px style="margin-top: -4px; margin-bottom: -4px;margin-right: 10px" (click)="updateWithdraw(i, 'Declined')" onMouseOver="this.style.cursor='pointer'"
                   data-bs-toggle="tooltip" data-bs-placement="bottom" title="Declined this withdrawal">
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <span *ngIf="pendingWithdrawals.length == 0" class="d-block text-center">No pending request found!</span>
    </div>
  </div>
<!--  <h4>Transactions History</h4>-->
  <div class="card card-outline" style="margin-top: 8px; margin-bottom: 5px;">
    <div class="card-header" style="padding-top: 5px; padding-bottom: 7px">
      <div class="card-title" style="font-size: 25px"><span>Transaction History</span></div>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
        <tr>
          <th>Request ID</th>
          <th>Username/Email</th>
          <th>Request Date</th>
          <th>Process Date</th>
          <th>Amount</th>
          <th>Payment Date</th>
          <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let t of transactions">
          <td>{{t.withdrawal_id}}</td>
          <td>{{t.username? t.username: t.email}}</td>
          <td>{{formatDate(t.request_date, 'dd/MM/yyyy HH:mm:ss', 'en-US')}}</td>
          <td>{{t.approval_date? formatDate(t.approval_date, 'dd/MM/yyyy HH:mm:ss', 'en-US'): ''}}</td>
          <td>{{curSymbol}}{{t.amount | number: '1.2-2'}}</td>
          <td>{{t.payment_date? formatDate(t.payment_date, 'dd/MM/yyyy HH:mm:ss', 'en-US'): ''}}</td>
          <td>
            <div [class]="t.status=='Declined' ? 'text-danger bg-light-danger' : t.status=='Pending' ? 'text-warning bg-light-warning' : 'text-success bg-light-success'"
                 class="badge rounded-pill p-2 text-uppercase px-3" style="margin-left: -15px;">
              <i class='bx bxs-circle me-1'></i>{{t.status}}
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
