<!--<p>delivery works!</p>-->
<div class="page-content">
<!--  <h3>Delivery</h3>-->

  <div class="card card-secondary card-outline" style="margin-top: 7px">
    <div class="card-header" style="padding-top: 5px; padding-bottom: 7px">
      <div class="card-title" style="font-size: 25px"><span>Delivery</span></div>
      <mat-progress-bar *ngIf="queryMode" mode="indeterminate" class="mat-progress-bar"></mat-progress-bar>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table mb-0">
          <thead class="table-light">
          <tr>
            <th>Order ID#</th>
            <th>Item ID#</th>
            <th>Image</th>
            <th>Product/Package Name</th>
            <th>Status</th>
            <th>Sell Type</th>
            <th>Quantity</th>
            <th>Total Amount</th>
            <th>Order Date</th>
            <th>Shipping Method</th>
            <th>View Details</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let o of orderDetailLists; let i = index">
            <td>
              <h6 class="mb-0 font-14">#{{o.order_id}}</h6>
            </td>
            <td>
              <h6 class="mb-0 font-14">#{{o.order_details_id}}</h6>
            </td>
            <td>
              <img src="{{o.product_image_url}}" alt="" style="height:40px; max-width:50px; margin-right: 5px">
            </td>
            <td>
              <h6 *ngIf="o.sell_type == 'S'" class="mb-0 font-14">{{o.product_title}}</h6>
              <h6 *ngIf="o.sell_type == 'G'" class="mb-0 font-14">{{o.product_title}}</h6>
              <h6 *ngIf="o.sell_type == 'P'" class="mb-0 font-14">{{o.package_name}}</h6>
            </td>
            <td>
              <div [class]="o.status=='Canceled' ? 'text-danger bg-light-danger' : o.status=='Processing' ? 'text-warning bg-light-warning' : 'text-success bg-light-success'"
                   class="badge rounded-pill p-2 text-uppercase px-3" style="margin-left: -15px;">
                <i class='bx bxs-circle me-1'></i>{{o.status}}
              </div>
            </td>
            <td>
              <img *ngIf="o.sell_type == 'S'" src="assets/smartgroup/img/price-tag-01.5.png" alt="" height=30px width=30px style="margin-right: 10px" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Single Product">
              <img *ngIf="o.sell_type == 'G'" src="assets/smartgroup/img/group-buy-01.png" alt="" height=30px width=30px style="margin-right: 10px" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Group Buying offers on single product">
              <img *ngIf="o.sell_type == 'P'" src="assets/smartgroup/img/groupbuy-packages-02.png" alt="" height=30px width=30px style="margin-right:10px" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Group Buying offers on sub-packages">
            </td>
            <td>{{o.quantity}} </td>
            <td>{{curSymbol}}{{o.sub_total | number: '1.2-2'}} </td>
            <td>{{o.order_date? formatDate(o.order_date, 'dd/MM/yyyy HH:mm:ss', 'en-US'): ''}}</td>
            <td class="text-capitalize">
              {{o.shipping_method}}
            </td>
            <td>
              <button type="button" (click)="showDetails(o.order_id)"
                      class="btn btn-primary btn-sm radius-30 px-4" style="min-width: 110px; padding-left: 10px !important; padding-right: 10px !important;">View Details</button>
            </td>
            <td>
              <select #shippingStatus class="form-select" name="actions" id="actions"
                      (change)="onStatusChange(i, shippingStatus.value)" [disabled]="o.status !='Shipped'" style="min-width: 110px; padding-left: 10px !important; padding-right: 10px !important; padding-top: 4px; padding-bottom: 3px;">
                <option *ngIf="o.status=='Shipped'" [selected]="o.status=='Shipped'"
                        value="Shipped">Shipped</option>
                <option [selected]="o.status=='Delivered'" value="Delivered"  >Delivered</option>
              </select>
            </td>
          </tr>
          </tbody>
          <tbody class="table-group-divider" style="border-top-width: thin;">
          <tr>
            <th>{{orderDetailLists.length? 'Total Records :' : 'Total Record :' }}</th>
            <th>{{orderDetailLists.length}}</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
