div.avatar-bg {
  background: url(https://www.gravatar.com/avatar/1234566?size=200&d=mm);
  background-position: 50% 50%;
  height: 200px;
  width: 200px;
  background-size: cover;
  border-radius: 50%;
  margin-left: calc(50% - 100px);
}

mat-progress-bar.mat-mdc-progress-bar {
  --mdc-linear-progress-active-indicator-color: #35b2ca;
  --mdc-linear-progress-track-color: white;
}
