.demo-toggles {
  display: flex;
  flex-direction: column;
}

.demo-toggles * {
  margin-bottom: 16px;
}

.demo-options {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.demo-data * {
  margin: 16px 0;
}

.demo-paginator {
  //width: 600px;
  font-size: 16px;
  font-family: inherit;
}

.single-product .product-image .sale-tag {
  //  background: #f73232;
  background: #fb9724;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 0;
  padding: 5px 10px;
  left: 0;
  z-index: 22;
}

.single-product .product-image .new-tag {
  //background: #0167F3;
  background: #09f301;
  border-radius: 2px;
  font-size: 12px;
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 0;
  padding: 5px 10px;
  left: 0;
  z-index: 22;
}

.line-clamp {
  line-height: 20px;
  height: 60px;
  max-width: 248px;
  min-width: 160px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.line-clamp2 {
  line-height: 20px;
  height: 40px;
  max-width: 248px;
  min-width: 160px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
