<div style="padding-left: 20px; padding-right: 20px; background: var(--bs-body-bg)">
  <h1 style="text-align: center; padding-top: 15px">Privacy Policy</h1>

  <p>
    I am a student studying at the University of Birmingham working on a web application for the Final Year Project module. This
    privacy policy will explain how we use the personal data we collect from you when you use our website.
  </p>

  Topics:
  <ul>
    <li>What data do we collect?</li>
    <li>How do we collect your data?</li>
    <li>How will we use your data?</li>
    <li>How do we store your data?</li>
    <li>Marketing</li>
    <li>What are your data protection rights?</li>
    <li>What are cookies?</li>
    <li>How do we use cookies?</li>
    <li>What types of cookies do we use?</li>
    <li>How to manage your cookies</li>
    <li>Privacy policies of other websites</li>
    <li>Changes to our privacy policy</li>
    <li>How to contact us</li>
    <li>How to contact the appropriate authorities</li>
  </ul>

  <h3>What data do we collect?</h3>
  We collect the following data:
  <ul>
    <li>Personal identification information (name, email address, etc.)</li>
    <li>Locational information (home address, post code, etc.)</li>
    <!--    <li>Information about personal interests (activities users enjoy, etc.)</li>-->
    <!--    <li>Demographic information (age, dietary requirements, etc.)</li>-->
    <!--    <li>Information about friendships</li>-->
  </ul>

  <h3>How do we collect your data?</h3>
  You directly provide us with most of the data we collect. We collect data and process data when you:
  <ul>
    <li>Register an account with us on our website</li>
    <li>Use or view our website’s features</li>
    <li>Answer questions asked by our website</li>
  </ul>

  <h3>How will we use your data?</h3>
  We collect your data so that we can:
  <ul>
    <li>Manage your account</li>
    <li>Suggest products to you which match your interests</li>
    <!--    <li>Link you to events that match your personal interests</li>-->
    <!--    <li>Allow you to organise plans with your friends</li>-->
    <!--    <li>Enable you to explore plans created by other users</li>-->
  </ul>

  <p>We will not share your data with any external organisations.</p>

  <h3>How do we store your data?</h3>
  <p>
    We securely store your data on servers located at the University of Birmingham in the city of Birmingham in the United Kingdom. They use
    state of the art security measures to ensure your data is not vulnerable.
  </p>

  <p>
    We will keep any information we have gathered from you only until the end of our exam period for this year. Any of your data we have
    stored will be deleted in mid June 2025. We will achieve this by deleting all records stored in our database, leaving no user’s personal
    information remaining.
  </p>

  <h3>Marketing</h3>
  <p>
    We will not send you marketing information about any of our products and services or products and services of any external organisations
    or partner companies.
  </p>

  <h3>What are your data protection rights?</h3>
  <p>We would like to make sure you are fully aware of all your data protection rights. Every user is entitled to the following:</p>

  <p>The right to access - You have the right to request us for copies of your personal data.</p>

  <p>
    The right to rectification - You have the right to request that we correct any information you believe is inaccurate. You also have the
    right to request us to complete information you believe is incomplete.
  </p>

  <p>The right to erasure - You have the right to request that we erase your personal data, under certain conditions.</p>

  <p>
    The right to restrict processing - You have the right to request that we restrict the processing of your personal data, under certain
    conditions.
  </p>

  <p>The right to object to processing - You have the right to object to our processing of your personal data, under certain conditions.</p>

  <p>
    The right to data portability - You have the right to request that we transfer the data that we have collected to another organisation,
    or directly to you, under certain conditions.
  </p>

  <p>
    If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our
    email: yhh190&#64;student.bham.ac.uk
  </p>

  <h3>What are cookies?</h3>
  <p>
    Cookies are text files placed on your computer to collect standard Internet log information and visitor behaviour information. When you
    visit our website, we may collect information from you automatically through cookies or similar technology.
  </p>

  <p>For further information, please visit <a href="https://allaboutcookies.org">allaboutcookies.org</a>.</p>

  <h3>How do we use cookies?</h3>
  We use cookies in a range of ways to improve your experience on our website, including:
  <ul>
    <li>Keeping you signed in</li>
    <li>Storing your user preferences</li>
  </ul>

  <h3>What types of cookies do we use?</h3>
  There are a number of different types of cookies, however, our website uses:
  <ul>
    <li>
      Functionality - We use these cookies so that we recognise you on our website and remember your previously selected preferences. These
      could include what language you prefer and what location you are in. Only first-party cookies are used.
    </li>
  </ul>

  <h3>How to manage cookies?</h3>
  <p>
    You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a
    few cases, some of our website features may not function as a result.
  </p>

  <h3>Privacy policies of other websites</h3>
  <p>
    Our website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another
    website, you should read their privacy policy.
  </p>

  <h3>Changes to our privacy policy</h3>
  <p>
    We keep our privacy policy under regular review and place any updates on this web page. This privacy policy was last updated on 10 March
    2025.
  </p>

  <h3>How to contact us?</h3>
  <p>
    If you have any questions about our privacy policy, the data of yours we hold, or you would like to exercise one of your data protection
    rights, please do not hesitate to contact us.
  </p>

  Email us at:
  <ul>
    <li>yhh190&#64;student.bham.ac.uk</li>
  </ul>

  <h3>How to contact the appropriate authority</h3>
  <p>
    Should you wish to report a complaint or if you feel that we have not addressed your concern in a satisfactory manner, you may contact
    the Information Commissioner’s Office.
  </p>

  <p>Contact them at their website: <a href="https://ico.org.uk">ico.org.uk</a></p>
  <p>Or call them: 0303 123 1113</p>
</div>
