<div class="section-authentication-signin d-flex align-items-center justify-content-center my-5 my-lg-0">
  <div class="container">
    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-3">
      <div class="col mx-auto">
        <div class="card mb-0">
          <div class="card-body">
            <div class="p-4">
              <div class="text-center mb-4">
                <h5 class="">SmartGroup Administrator</h5>
                <p class="mb-0">Please log in to your administrator account</p>
              </div>
              <div class="form-body">
                <form #_form="ngForm" (submit)="onAdminLogin(_form.value)" class="row g-3">
                  <div class="col-12">
                    <label for="inputEmailAddress" class="form-label">Email</label>
                    <input type="email" class="form-control" id="inputEmailAddress"
                           placeholder="admin@smartgroup.com" name="email" ngModel>
                  </div>
                  <div class="col-12">
                    <label for="inputChoosePassword" class="form-label">Password</label>
                    <div class="input-group" id="show_hide_password">
                      <input type="password" class="form-control border-end-0"
                             id="inputChoosePassword" value="12345678" placeholder="Enter Password" name="password" ngModel>
                      <a href="javascript:;" class="input-group-text bg-transparent"><i
                        class='bx bx-hide'></i></a>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-check form-switch">
<!--                      <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked">-->
                      <input class="form-check-input" type="checkbox" id="rememberme" name="rememberme" ngModel>
                      <label class="form-check-label" for="rememberme">Remember Me</label>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="d-grid">
                      <button type="submit" class="btn btn-primary">Sign in</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--end row-->
  </div>
</div>

