<!--<p>order-track works!</p>-->

<!--<div class="page-content">-->

<div class="container py-2">
  <div class="page-content">
  <h3 class="font-weight-light text-center text-muted">Tracking Order #{{orderDetail.order_details_id}}</h3>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <strong>Product Name : </strong>{{orderDetail.product_title}}<br>
          <strong>Delivery Date : </strong>{{orderDetail? formatDate(orderDetail.delivery_date, 'dd/MM/yyyy HH:mm:ss', 'en-US'):''}}
        </div>
        <div class="col-6">
          <strong>Seller Username : </strong>{{orderDetail.seller_username}}<br>
          <strong>Status : </strong>{{orderDetail.status}}
        </div>
      </div>
    </div>
  </div>

  <!-- timeline item 1 -->
  <div class="row g-0">
    <div class="col-sm">
      <!--spacer-->
    </div>
    <!-- timeline item 1 center dot -->
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
                <span class="badge rounded-pill bg-light border"
                      [class.bg-primary]="orderDetail.status == 'Pending'">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-end">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <!-- timeline item 1 event content -->
    <div class="col-sm py-2">
      <div class="card radius-15">
        <div class="card-body">
          <h4 class="card-title" [class.text-primary]="orderDetail.status == 'Pending'">Pending</h4>
          <p class="card-text">Awaiting seller to process the order.</p>
        </div>
      </div>
    </div>
  </div>
  <!--/row-->


  <!-- timeline item 2 -->
  <div class="row g-0">
    <div class="col-sm py-2">
      <div class="card radius-15">
        <div class="card-body">
          <h4 class="card-title" [class.text-danger]="orderDetail.status == 'Canceled'">Cancelled</h4>
          <p class="card-text">The order has been canceled either by the customer or the seller.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-end">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
                <span class="badge rounded-pill bg-light border"
                      [class.bg-danger]="orderDetail.status == 'Canceled'">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-end">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm">
      <!--spacer-->
    </div>
  </div>
  <!--/row-->


  <!-- timeline item 3 -->
  <div class="row g-0">
    <div class="col-sm">
      <!--spacer-->
    </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-end">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
                <span class="badge rounded-pill bg-light border"
                      [class.bg-primary]="orderDetail.status == 'Processing'">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-end">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm py-2">
      <div class="card radius-15">
        <div class="card-body">
          <h4 class="card-title" [class.text-primary]="orderDetail.status == 'Processing'">Processing</h4>
          <p>The order is being reviewed, verified, and prepared for shipment.</p>
        </div>
      </div>
    </div>
  </div>
  <!--/row-->


  <!-- timeline item 4 -->
  <div class="row g-0">
    <div class="col-sm py-2">
      <div class="card radius-15">
        <div class="card-body">
          <h4 class="card-title" [class.text-primary]="orderDetail.status == 'Shipped'">Shipped</h4>
          <p class="card-text">The order has been dispatched from the seller's location and reached our
            logistics facility.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-end">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
                <span class="badge rounded-pill bg-light border"
                      [class.bg-primary]="orderDetail.status == 'Shipped'">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col border-end">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm">
      <!--spacer-->
    </div>
  </div>
  <!--/row-->


  <!-- timeline item 5 -->
  <div class="row g-0">
    <div class="col-sm">
      <!--spacer-->
    </div>
    <div class="col-sm-1 text-center flex-column d-none d-sm-flex">
      <div class="row h-50">
        <div class="col border-end">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
      <h5 class="m-2">
                <span class="badge rounded-pill bg-light border"
                      [class.bg-success]="orderDetail.status == 'Delivered'">&nbsp;</span>
      </h5>
      <div class="row h-50">
        <div class="col">&nbsp;</div>
        <div class="col">&nbsp;</div>
      </div>
    </div>
    <div class="col-sm py-2">
      <div class="card radius-15">
        <div class="card-body">
          <h4 class="card-title" [class.text-success]="orderDetail.status == 'Delivered'">Delivered</h4>
          <p>The order has reached its destination and has been received by the customer. The delivery process
            is complete.</p>
        </div>
      </div>
    </div>
  </div>
  <!--/row-->
</div>

</div>
