a {
  //text-decoration: none;
  display: inline-block;
  text-decoration: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
