.gb-stepper-btn {
  border-radius: 3px;
  margin-top: 8px;
  margin-right: 10px;
  background-color: #0d6efd;
  width: 100px;
  color: white !important;
}

.gb-stepper-btn:hover {
  background-color: #0b5ed7;
}
